@switch (type) { @case (UiInputTypeEnum.DROPDOWN) {
<select
  id="{{ labelText }}"
  [formControl]="formControlElement"
>
  @for (option of dropdownOptions; track option) {
  <option [value]="option">
    {{ option }}
  </option>
  }
</select>
} @case (UiInputTypeEnum.TOGGLE) {
<input
  id="{{ labelText }}"
  type="checkbox"
  [formControl]="formControlElement"
  (change)="onToggleChange($event)"
/>
} @default {
<input
  id="{{ labelText }}"
  [type]="type"
  [placeholder]="placeholder"
  [formControl]="formControlElement"
/>
} }
