@let user = user$ | async; @if (user) {
<div class="details-row">
  <img
    [src]="pictureUrl ?? user.pictureUrl"
    alt="Profil von {{ user.username }}"
    (click)="fileInput.click()"
  />

  <input
    type="file"
    #fileInput
    style="display: none"
    accept="image/*"
    (change)="onFileSelected($event)"
  />

  <div class="names-column">
    <h1>{{ user.name }}</h1>

    <h3>&#64;{{ user.username }}</h3>
  </div>
</div>

<ui-button (click)="onChangeMail()"
  [text]="'Mail Adresse ändern'"
  [color]="UiButtonColorEnum.SECONDARY"
/>
<ui-button (click)="onChangePassword()"
  [text]="'Passwort ändern'"
  [color]="UiButtonColorEnum.SECONDARY"
/>
<ui-button (click)="onDelete()"
  [text]="'Account löschen'"
  [color]="UiButtonColorEnum.SECONDARY"
/>

@if (showChangeMailForm) {
  <form [formGroup]="updateMailForm">
    <ui-input
      [labelText]="'Email *'"
      [type]="UiInputTypeEnum.EMAIL"
      [formControlElement]="updateMailForm.controls.email"
      [placeholder]="user.email"
    />
  </form>

  <ui-button
      (click)="onChangeMailSubmit()"
      [text]="'speichern'"
      [color]="UiButtonColorEnum.PRIMARY"
    />

    <ui-button
      (click)="onCancelChangeMail()"
      [text]="'abbrechen'"
      [color]="UiButtonColorEnum.PRIMARY"
    />
}

@if (showChangePasswordForm) {
  <form [formGroup]="updatePasswordForm">
    <ui-input
      [labelText]="'Passwort *'"
      [type]="UiInputTypeEnum.PASSWORD"
      [formControlElement]="updatePasswordForm.controls.password"
    />
  </form>

  <ui-button
      (click)="onChangePasswordSubmit()"
      [text]="'speichern'"
      [color]="UiButtonColorEnum.PRIMARY"
    />

    <ui-button
      (click)="onCancelChangePassword()"
      [text]="'abbrechen'"
      [color]="UiButtonColorEnum.PRIMARY"
    />
}

<!-- <form [formGroup]="form">
  <ui-input
    [labelText]="'Email *'"
    [type]="UiInputTypeEnum.EMAIL"
    [formControlElement]="form.controls.email"
    [placeholder]="user.email"
  />

  <div class="password-row">
    <ui-input
      [labelText]="'Passwort *'"
      [type]="UiInputTypeEnum.PASSWORD"
      [formControlElement]="form.controls.password"
    />

    <ui-button
      (click)="
        form.controls.password.enabled
          ? form.controls.password.disable()
          : form.controls.password.enable()
      "
      [text]="'Passwort zurücksetzen'"
      [color]="UiButtonColorEnum.SECONDARY"
    />
  </div>

  <div class="button-row">
    <ui-button
      (click)="onDelete()"
      [text]="'Account löschen'"
      [color]="UiButtonColorEnum.SECONDARY"
    />

    <ui-button
      (click)="onSubmit()"
      [text]="'speichern'"
      [color]="UiButtonColorEnum.PRIMARY"
    />
  </div>
</form> -->
@if (user.role === UserRoleEnum.ADMIN) {
<div class="seperator"></div>
<admin-panel [currentUser]="(user$ | async)!" />
} } @else {
<p>Es konnte kein Benutzer gefunden werden</p>
}
