@import 'colors-desktop';

.search-banner {
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  padding: 128px 0 32px;
  background-image: url("../../../../public/search-banner.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.controls-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 0 24px;
  padding: 0 6px;
  color: @color-green;
  font-size: 14px;

  .sorting {
    display: flex;
    align-items: center;

    p {
      margin-right: 8px;
    }

    svg {
      margin-right: 4px;
      rotate: 90deg;
    }
  }

  .create {
    padding: 4px 8px;
    border-radius: 6px;
    margin-left: 6px;
    background-color: #ebd3d6;
    display: flex;
    align-items: flex-end;

    svg {
      margin-left: 4px;
    }
  }
}

.videos {
  display: grid;
  grid-gap: 8px;

  @media (min-width: 750px) {
    grid-template-columns: repeat(2, 1fr);
  }

  video-tile {
    display: block;
  }
}

::ng-deep mat-select {
  width: 100%;
  padding: 0 6px;
}

::ng-deep .mat-mdc-option.mdc-list-item {
  background-color: @color-bg-light !important;
}

::ng-deep div.mat-mdc-select-panel {
  background-color: @color-bg-light !important;
}
