<div class="title-row">
  <span class="title">{{ video.name }}</span>

  <ui-tag [category]="video.category" />
</div>

<div class="date-row">
  <span>Upload: {{ video.uploadDate | date : 'dd.MM.yyyy' }}</span>
  @if (video.dateOfRecording) {
  <span>Aufnahme: {{ video.dateOfRecording | date : 'dd.MM.yyyy' }}</span>
  }
</div>

<div class="description-row">
  @if (video.channel) {
  <span>{{ video.channel.name }}</span>
  }
  <span>{{ video.comment }}</span>
</div>

<div class="url-row">
  <svg width="18" height="18" fill="currentColor">
    <use href="assets/icons/sprite.svg#icon-arrow" />
  </svg>
</div>
