<div class="filter-container" [formGroup]="filterForm">
  <div class="basic-filters">
    <ui-input
      labelText="Videoname"
      [type]="UiInputTypeEnum.TEXT"
      placeholder="Video suchen..."
      [formControlElement]="getFormControl('nameFilter')"
      class="name-filter" />

    <ui-button
      [color]="UiButtonColorEnum.NONE"
      [type]="UiButtonTypeEnum.ICON"
      (click)="toggleExpandedFilters()"
      [class.expanded]="isExpandedFiltersVisible" />
  </div>

  <div class="basic-filters-row">
    <ui-input
      labelText="Kategorie"
      [type]="UiInputTypeEnum.DROPDOWN"
      [formControlElement]="getFormControl('category')"
      [dropdownOptions]="categoryDropdownOptions" />

    <ui-button
      [text]="'Filter zurücksetzen'"
      [color]="UiButtonColorEnum.PRIMARY"
      [type]="UiButtonTypeEnum.BUTTON"
      (click)="clearFilters()" />
  </div>

  <div class="expanded-filters" [class.visible]="isExpandedFiltersVisible">
    <ui-input
      labelText="Channel"
      [type]="UiInputTypeEnum.TEXT"
      placeholder="Channel Name"
      [formControlElement]="getFormControl('channelName')" />
    <ui-input
      labelText="Team"
      [type]="UiInputTypeEnum.TEXT"
      placeholder="Team Name"
      [formControlElement]="getFormControl('teamName')" />
    <ui-input
      labelText="Turnier"
      [type]="UiInputTypeEnum.TEXT"
      placeholder="Turnier Name"
      [formControlElement]="getFormControl('tournamentName')" />

    <span class="date-label">Aufnahmedatum:</span>
    <ui-input
      labelText="Von"
      [type]="UiInputTypeEnum.DATE"
      [formControlElement]="getFormControl('recordingDateFrom')" />
    <ui-input
      labelText="Bis"
      [type]="UiInputTypeEnum.DATE"
      [formControlElement]="getFormControl('recordingDateTo')" />

    <span class="date-label">Upload-Datum:</span>
    <ui-input
      labelText="Von"
      [type]="UiInputTypeEnum.DATE"
      [formControlElement]="getFormControl('uploadDateFrom')" />
    <ui-input
      labelText="Bis"
      [type]="UiInputTypeEnum.DATE"
      [formControlElement]="getFormControl('uploadDateTo')" />
  </div>
</div>
