<h1>Willkommen, zurück</h1>

<h3>Login</h3>

<span [routerLink]="['register']" class="url register"
  >noch kein Konto? Registrieren</span
>

<form [formGroup]="form">
  <div>
    <ui-label-row [labelText]="'Email'" />
    <ui-input
      [labelText]="'Email'"
      [type]="UiInputTypeEnum.EMAIL"
      [formControlElement]="form.controls.email"
    />
  </div>

  <div>
    <ui-label-row [labelText]="'Passwort'" />
    <ui-input
      [labelText]="'Passwort'"
      [type]="UiInputTypeEnum.PASSWORD"
      [formControlElement]="form.controls.password"
    />
  </div>

  <span [routerLink]="['reset-password']" class="url reset-password"
    >Passwort vergessen? zurücksetzen</span
  >

  @if (error) {
  <span class="error-message">{{ error }}</span>
  }

  <ui-button
    (click)="onSubmit()"
    (keydown)="onSubmit()"
    [text]="'einloggen'"
    [color]="UiButtonColorEnum.PRIMARY"
  />
</form>
