<h1>neues Video hinzufügen</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ui-input
    [labelText]="'Videoname:'"
    [type]="UiInputTypeEnum.TEXT"
    [formControlElement]="form.controls.name"
    [direction]="UiInputDirectionEnum.ROW"
  />

  <ui-input
    [labelText]="'Videolink:'"
    [type]="UiInputTypeEnum.TEXT"
    [formControlElement]="form.controls.videoLink"
    [direction]="UiInputDirectionEnum.ROW"
  />

  <ui-autocomplete-input
    [labelText]="'Channel:'"
    [formControlElement]="form.controls.channelId"
    [options]="channels()"
    [displayField]="'name'"
    [valueField]="'id'"
    [placeholder]="'Channel suchen...'"
    [direction]="UiInputDirectionEnum.ROW"
    [newOptionConfig]="initConfig(channelNewOptionConfig, form.controls)"
    [newOptionElementType]="CreateNewObjectTypesEnum.CHANNEL"
  />

  <ui-input
    [labelText]="'Kategorie:'"
    [type]="UiInputTypeEnum.DROPDOWN"
    [formControlElement]="form.controls.category"
    [direction]="UiInputDirectionEnum.ROW"
    [dropdownOptions]="Object.values(VideoCategoriesEnum)"
  />

  <ui-input
    [labelText]="'Upload-Datum:'"
    [type]="UiInputTypeEnum.DATE"
    [formControlElement]="form.controls.uploadDate"
    [direction]="UiInputDirectionEnum.ROW"
  />

  <ui-input
    [labelText]="'Aufnahme-Datum:'"
    [type]="UiInputTypeEnum.DATE"
    [formControlElement]="form.controls.dateOfRecording"
    [direction]="UiInputDirectionEnum.ROW"
  />

  @for (config of categoriesAdditionalFieldsConfig(); track config) { 
    @switch (config.field) { 
      @case (CategoriesAdditionalFieldsEnum.TOPIC) {
        <ui-input
          [labelText]="'Thema:'"
          [type]="UiInputTypeEnum.TEXT"
          [formControlElement]="form.controls.topic"
          [direction]="UiInputDirectionEnum.ROW"
        />
      } 
      @case (CategoriesAdditionalFieldsEnum.GUESTS) {
        <ui-input
          [labelText]="'Gäste:'"
          [type]="UiInputTypeEnum.TEXT"
          [formControlElement]="form.controls.guests"
          [direction]="UiInputDirectionEnum.ROW"
        />
      } 
      @case (CategoriesAdditionalFieldsEnum.TOURNAMENT) {
        <ui-autocomplete-input
          [labelText]="'Turnier: '"
          [formControlElement]="form.controls.tournamentId"
          [options]="tournaments()"
          [displayField]="'name'"
          [valueField]="'id'"
          [placeholder]="'Turnier suchen...'"
          [direction]="UiInputDirectionEnum.ROW"
          [newOptionConfig]="initConfig(tournamentNewOptionConfig, form.controls)"
          [newOptionElementType]="CreateNewObjectTypesEnum.TOURNAMENT"
        />
      }
      @case (CategoriesAdditionalFieldsEnum.TEAMS) {
        <ui-autocomplete-input
          [labelText]="'Team 1:'"
          [formControlElement]="form.controls.teamOneId"
          [options]="teams()"
          [displayField]="'name'"
          [valueField]="'id'"
          [placeholder]="'Team 1 suchen...'"
          [direction]="UiInputDirectionEnum.ROW"
          [newOptionConfig]="initConfig(teamOneNewOptionConfig, form.controls)"
          [newOptionElementType]="CreateNewObjectTypesEnum.TEAM_ONE"
        />

        <div>
          <ui-autocomplete-input
            [labelText]="'Team 2:'"
            [formControlElement]="form.controls.teamTwoId"
            [options]="teams()"
            [displayField]="'name'"
            [valueField]="'id'"
            [placeholder]="'Team 2 suchen...'"
            [direction]="UiInputDirectionEnum.ROW"
            [newOptionConfig]="initConfig(teamTwoNewOptionConfig, form.controls)"
            [newOptionElementType]="CreateNewObjectTypesEnum.TEAM_TWO"
          />

          @if (sameTeamValidationError()) {
            <div class="error-message">
              Ein Team kann nicht gegen sich selbst antreten.
            </div>
          }
        </div>

      } 
      @case (CategoriesAdditionalFieldsEnum.WEAPON_TYPE) {
        <ui-input
          [labelText]="'Pompfenart:'"
          [type]="UiInputTypeEnum.DROPDOWN"
          [formControlElement]="form.controls.weaponType"
          [dropdownOptions]="Object.values(WeaponTypesEnum)"
          [direction]="UiInputDirectionEnum.ROW"
        />
      } 
      @case (CategoriesAdditionalFieldsEnum.GAME_SYSTEM) {
        <ui-input
          [labelText]="'Spielsystem:'"
          [type]="UiInputTypeEnum.DROPDOWN"
          [formControlElement]="form.controls.gameSystem"
          [dropdownOptions]="Object.values(GameSystemTypesEnum)"
          [direction]="UiInputDirectionEnum.ROW"
        />
      } 
    } 
  }

  <ui-input
    [labelText]="'Kommentar:'"
    [type]="UiInputTypeEnum.TEXT"
    [formControlElement]="form.controls.comment"
    [direction]="UiInputDirectionEnum.ROW"
  />

  <ui-button
    [text]="'hinzufügen'"
    [color]="UiButtonColorEnum.PRIMARY"
    (click)="onSubmit()"
  />
</form>
