<ui-redirect
  [text]="'Zurück zur Videoübersicht'"
  [routerLink]="['/video-overview']"
/>

@if (video) {
  <div class="content">
    <main>
      @if (isYoutubeUrl && embeddedUrl) {
        <iframe
          [src]="embeddedUrl"
          allowfullscreen
          title="Video of {{ video.name }}"
        ></iframe>
      } @else {
        <a href="{{ video.videoLink }}">zum Video >></a>
      }

      <div class="title-row">
        <h3>
          {{ video.name }}
        </h3>
        <div>
          <ui-tag [category]="video.category" />

          <span>{{ video.gameSystem }}</span>
        </div>
      </div>

      <div class="details-row">
        @if (video.channel) {
          <a href="{{ video.channel.link }}">{{ video.channel.name }}</a>
        }
        <div>
          <span>Upload: {{ video.uploadDate | date: 'dd.MM.y' }}</span>
          <span>Aufnahme: {{ video.dateOfRecording | date: 'dd.MM.y' }}</span>
        </div>
      </div>
    </main>

    <aside>
      @if (video.tournament) {
        <details-toggle [heading]="video.tournament.name">
          <p>{{ video.tournament.city }}</p>
          <p>Startdatum: {{ video.tournament.startDate | date: 'dd.MM.y' }}</p>
          <p>Enddatum: {{ video.tournament.endDate | date: 'dd.MM.y' }}</p>
          <a
            href="{{ video.tournament.jtrLink }}"
            target="_blank"
            (click)="$event.stopPropagation()"
            >Auf jtr besuchen</a
          >
        </details-toggle>
      }

      <div class="teams">
        @if (video.teamOne) {
          @if (video.teamOne.city) {
            <details-toggle [heading]="video.teamOne.name">
              <p>{{ video.teamOne.city }}</p>
            </details-toggle>
          } @else {
            <p>{{ video.teamOne.name }}</p>
          }
        }

        @if (video.teamOne && video.teamTwo) {
          <span>vs.</span>
        }

        @if (video.teamTwo) {
          @if (video.teamTwo.city) {
            <details-toggle [heading]="video.teamTwo.name">
              <p>{{ video.teamTwo.city }}</p>
            </details-toggle>
          } @else {
            <p>{{ video.teamTwo.name }}</p>
          }
        }
      </div>

      @if (video.topic) {
        <span>{{ video.topic }}</span>
      }

      @if (video.guests) {
        <span>{{ video.guests }}</span>
      }

      @if (video.weaponType) {
        <ui-tag [category]="video.weaponType" />
      }

      @if (video.comment) {
        <span>{{ video.comment }}</span>
      }
    </aside>
  </div>
}
